.OverlayWrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 2% 25%;
  z-index: 1003;
}

.backdrop {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.ShareList {
  position: relative;
  background-color: white;
  z-index: 101;
}

.header > img {
  margin-right: 11px;
  cursor: pointer;
}

.header {
  padding: 20px;
  display: flex;
  align-items: center;
  font-family: "Nunito", sans-serif;
  font-size: 19px;
  color: rgba(52, 59, 59, 1);
  line-height: 23px;
  box-shadow: 0 0 3px rgba(227, 227, 227, 1);
}
