.MoreOverlay {
  position: absolute;
  top: 30px;
  /* left: 0; */
  right: 10px;
  width: 185px;
  /* bottom: 0; */
  /* height: 100vh; */
  background-color: white;
  /* display: flex;
  flex-direction: column; */
  /* justify-content: flex-end; */
  z-index: 1003;
  box-shadow: 0 0 3px rgba(227, 227, 227, 1);
}

.ShareOverlay {
  position: absolute;
  bottom: 63px;
  right: 60px;
  background-color: white;
  z-index: 1003;
  box-shadow: 0 0 3px rgba(227, 227, 227, 1);
}

.SharedItemsMoreOverlay {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: white;
  z-index: 1003;
  box-shadow: 0 0 3px rgba(227, 227, 227, 1);
}

.content {
  background-color: white;
  max-height: 70%;
  position: relative;
  z-index: 2;
}

.options {
  height: 100%;
}

.options > * {
  cursor: pointer;
}

.header {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Nunito", sans-serif;
  font-size: 19px;
  color: rgba(52, 59, 59, 1);
  line-height: 23px;
  border-bottom: 1px solid rgba(245, 246, 246, 1);
}

.option {
  border-bottom: 1px solid rgba(245, 246, 246, 1);
  padding: 14px 18px;
  display: flex;
  align-items: center;
  font-size: 13px;
  font-family: heeboregular;
}

.option:hover {
  background-color: rgba(0, 0, 0, 0.03);
}

.option > div {
  width: 39px;
  height: 39px;
  background-color: rgba(248, 249, 249, 1);
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 25px;
}

.header > img {
  margin-right: auto;
}

.header > h3 {
  margin-right: auto;
}
